@charset "utf-8";

#appsolListPage,detailsPage{
	background: url("../img/fondo.png") no-repeat center center fixed; background-color:#ff8663; -webkit-background-size: cover; background-size: cover;}

#cabecera { background:transparent; position:fixed; top:0; left:0; width:100%; border:0; padding:0; margin:0;}

#cabecera img{ width:100%;}

#cabecera div { margin-top:0; padding-top:0; float:right; margin-right:20px;}

#contenido {height:100%; width:100%; overflow:auto;}

#contenido input{ width:90%; border-radius:10px;}

#contenido #contenedorCita{ text-align:center;}

#contenido #contenedorSesion{ text-align:center;}

#contenedorDestacados{ padding-right:4px; padding-top:0;}
#destacadosList{ padding:0; width:100%;}
#destacadosList ul{ width:100%;}
#destacadosList a li { background:#fff; list-style:none; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px; margin:10px 0; width:100%; min-height:40px;}
#destacadosList a { text-decoration:none !important;}
#destacadosList a li div.imagn{ width:100%; }
#destacadosList a li div.contn{ width:100%; }
#destacadosList a li imagnfav { width:40px; margin:10px; vertical-align:middle;}
#destacadosList a li img { width:40px; float:right; margin-left:10px;}
#destacadosList a li h4{ color:#e9530d; font-size:14px; font-weight:bold;}
#destacadosList a li p{ color:#666;  font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
#destacadosList a li span{ color:#000; margin:0 10px;}
#destacadosList a li p,#destacadosList a li h4{margin:0;}

#contenedorDetalle { background-color:#fff; margin:2px;}
#contenedorDetalle #titulo h4{ font-size:16px; font-weight:bold; color:#e9530d; text-align:center;}
#contenedorDetalle #titulo p{ font-size:14px; font-weight:bold; color:#000; text-align:center;}
#contenedorDetalle #dgenerales{background-color:#f2f2f2; padding:5px 5px; margin:10px 0; font-size:12px;}
#contenedorDetalle #descripcion{margin:10px 0;}
#contenedorDetalle #descripcion h5{font-size:14px; font-weight:bold; color:#e9530d;}
#contenedorDetalle #descripcion p{font-size:12px; text-align:justify;}
#contenedorDetalle #bton{margin:10px 0; text-align:center;}
#contenedorDetalle #bton a{ background-color:#e9530d; color:#fff;}

#menu-pie { background:url("../img/fondo.png") no-repeat center center fixed; position:fixed; bottom:0; left:0;  width:100%; padding:10px; text-align:center; border:0;}

#menu-pie a{ margin:0 3% 0 3%;}

#menu-pie img{ width:70px; height:70px;} 
#menu-pie #mendest, #menu-pie #menaviso, #menu-pie #mencita { padding:0;height:70px;
  width:70px; border-radius:15px; text-align:center; }

#menu-pie #meniniciar img{ width:50px; height:50px;}   
#cabecera #meniniciar{position:absolute; top:5%;
right:1%; padding:0; height:50px; width:50px; border-radius:10px; text-align:center; background:transparent;}

#menu-pie #mencerrar img{ width:50px; height:50px;}   
#cabecera #mencerrar{position:absolute; top:5%;
right:1%; padding:0; height:50px; width:50px; border-radius:10px; text-align:center; background:transparent;}