@charset "utf-8";

#cabecera { background:transparent; position:fixed; top:0; left:0; width:100%; border:0;}
#cabecera img{ width:100% }

#contenido {height:100%; width:100%; overflow:auto;}

#contenido input{ width:90%; border-radius:10px;}

#contenido #contenedorCita{ text-align:center;}

#contenido #contenedorSesion{ text-align:center;}

#destacadosList{ padding:0; width:100%;}
#destacadosList a li { list-style:none; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px; margin:10px 0;}
#destacadosList a { text-decoration:none !important;}
#destacadosList a li img {float:left; margin-right:5px; width:40px;}
#destacadosList a li h4{ color:#e9530d; font-size:16px; font-weight:bold;}
#destacadosList a li p{ color:#000;  font-size:12px;}
#destacadosList a li span{ color:#000; margin:0 10px;}
#destacadosList a li p,#destacadosList a li h4{margin:0;}

#menu-pie { background:url("../img/fondo.png") no-repeat center center fixed; position:fixed; bottom:0; left:0; width:100%; padding:10px; text-align:center;}

#menu-pie a{ margin:0 3% 0 3%;}

#menu-pie img{ width:70px; height:70px;} 
#menu-pie #mendest, #menu-pie #menaviso, #menu-pie #mencita { padding:0;height:70px;
  width:70px; border-radius:15px; text-align:center; }

#menu-pie #meniniciar img{ width:50px; height:50px;}   
#cabecera #meniniciar{position:absolute; top:20%;
right:0; padding:0; height:50px; width:50px; border-radius:10px; text-align:center; background:transparent;}
/*#menu-pie #mendest{background:url("../img/bdestacado.png") no-repeat;background-repeat:no-repeat;
background-size:70px;
background-color:#fff;
border-radius:15px;
  height:70px;
  width:70px;
  background-position:center;} 
#menu-pie #menaviso{ background:url("../img/baviso.png") no-repeat;background-repeat:no-repeat;
background-size:70px;
background-color:#fff;
border-radius:15px;
  height:70px;
  width:70px;
  background-position:center;}
#menu-pie #mencita{ background:url("../img/bcita.png") no-repeat;background-repeat:no-repeat;
background-size:70px;
background-color:#fff;
border-radius:15px;
  height:70px;
  width:70px;
  background-position:center;}
#cabecera #meniniciar{ 
position:absolute;
top:20%;
right:10%;
background:url("../img/binicio.png") no-repeat;background-repeat:no-repeat;
background-size:50px;
border-radius:5px;
border-color:#fff;
  height:50px;
  width:50px;
  background-position:center;}*/