@charset "utf-8";

#cabecera { position:fixed; top:0; left:0; width:100%;}
#cabecera img{ width:100% }

#contenido {height:100%; overflow:auto; padding-top:20%;}

#menu-pie { position:fixed; bottom:0; left:0; width:100%;}

#menu-pie #mendest{background:url("../img/bdestacado.png") no-repeat;background-repeat:no-repeat;
background-size:50px;
background-color:#fff;
border-radius:5px;
  height:50px;
  width:50px;
  background-position:center;}
#menu-pie #menaviso{ background:url("../img/baviso.png") no-repeat;background-repeat:no-repeat;
background-size:50px;
background-color:#fff;
border-radius:5px;
  height:50px;
  width:50px;
  background-position:center;}
#menu-pie #mencita{ background:url("../img/bcita.png") no-repeat;background-repeat:no-repeat;
background-size:50px;
background-color:#fff;
border-radius:5px;
  height:50px;
  width:50px;
  background-position:center;}
#menu-pie #meniniciar{ background:url("../img/binicio.png") no-repeat;background-repeat:no-repeat;
background-size:50px;
border-radius:5px;
border-color:#fff;
  height:50px;
  width:50px;
  background-position:center;}